In [1]:
from scipy import stats
import pandas as pd
import numpy as np

In [2]:
sample=pd.read_csv("C:\\Users\\hp\\Desktop\\sample.csv")
sample

    data
0   1.13
1   1.55
2   1.43
3   0.92
4   1.25
5   1.36
6   1.32
7   0.85
8   1.07
9   1.48
10  1.20
11  1.33
12  1.18
13  1.22
14  1.29

In [5]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    15 non-null     float64
dtypes: float64(1)
memory usage: 252.0 bytes

In [7]:
sample.describe()

            data
count  15.000000
mean    1.238667
std     0.193164
min     0.850000
25%     1.155000
50%     1.250000
75%     1.345000
max     1.550000

In [9]:
# For unknown standard deviation
sample_CI=stats.t.interval(0.99,14,loc=sample.data.mean(),scale=sample.data.std())
print("For unknown standard deviation 99% confidence interval for mean is:",np.round(sample_CI,3))

For unknown standard deviation 99% confidence interval for mean is: [0.664 1.814]

In [17]:
# For known standard deviation
sample_CI_k=stats.norm.interval(0.99,loc=sample.data.mean(),scale=0.2)
print("For known standard deviation 0.2, the 99% confidence interval for mean is:", np.round(sample_CI_k,3))

For known standard deviation 0.2, the 99% confidence interval for mean is: [0.724 1.754]